#about {
  max-width: 90rem;
  padding: 10rem 0;
  margin: 0 auto;
}

.about-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  column-gap: 3.2rem;
  position: relative;
  content-visibility: auto;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #8892b0;
}

.about-intro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.skill-title {
  margin-top: 1.6rem;
  padding-bottom: 1.2rem;
}

.skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.4rem;
  color: #8892b0;
  max-width: fit-content;
  column-gap: 1.6rem;
}

.skill-point {
  flex: 0 0 30%;
  position: relative;
  padding-left: 2.4rem;
  margin-bottom: 1rem;
}

.skill-point::before {
  content: "▸";
  color: #64ffda;
  position: absolute;
  left: 0;
  top: 0;
}

.about-img-container {
  display: inline-block;
  align-self: start;
}

.about-img-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 1rem;
}

.about-img-wrapper::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid #64ffda;
  z-index: -1;
}

.about-img {
  width: 28rem;
  height: 28rem;
  display: block;
  border-radius: 1rem;
  filter: grayscale(30%) contrast(1) brightness(0.8) sepia(1) hue-rotate(100deg)
    saturate(1);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.about-img:hover {
  filter: none;
  transform: translate(-5px, -5px);
}

/****************************/
/* BELOW 1200px (Landscape tablets) */
/****************************/

@media (max-width: 75em) {
  #about {
    padding: 4.8rem 0;
  }
}

/****************************/
/* BELOW 944px (Tablets) */
/****************************/
@media (max-width: 59em) {
  #about {
    padding-inline: 1.6rem;
  }
}

/****************************/
/* BELOW 760px (Smaller tablets) */
/****************************/
@media (max-width: 47.5em) {
  .about-text {
    line-height: 1.7;
  }

  #about {
    padding: 4rem;
  }
}

/****************************/
/* BELOW 610px (Phones) */
/****************************/
@media (max-width: 38em) {
  #about {
    max-width: 76rem;
    padding: 3rem;
  }

  .about-section {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .about-img-container {
    display: flex;
    justify-content: center;
  }
}
