#projects-section {
  padding: 10rem 0;
  margin: 0 auto;
  max-width: 100rem;
}

.projects-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: #a8b2d1;
}

.project-title {
  padding-bottom: 3rem;
  color: #ccd6f6;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.project-title span {
  color: #64ffda;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  font-size: 2.4rem;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: #112240;
  padding: 3.2rem;
  border-radius: 1.5rem;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.1);
}

.project:hover {
  transform: translateY(-5px);
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;
  width: 100%;
}

.project-icons {
  display: flex;
  justify-content: space-between;
}

.folder-icon {
  font-size: 2em;
  color: #64ffda;
}

.github-icon {
  font-size: 1em;
  fill: #a8b2d1;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.1);
}

.project-name {
  color: #ccd6f6;
  padding-top: 2.4rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.project-name:hover {
  color: #64ffda;
}

.project-description {
  color: #a8b2d1;
  font-size: 1.6rem;
  line-height: 1.5;
}

.technologies {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  padding-top: 1.6rem;
  letter-spacing: 0.05rem;
  color: #8892b0;
  font-weight: 300;
}

.btn-load {
  margin-top: 3.2rem;
  display: flex;
  justify-self: center;
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
}

/****************************/
/* BELOW 1200px (Landscape tablets) */
/****************************/

@media (max-width: 75em) {
  #projects-section {
    padding: 4.8rem 0;
  }

  .projects-container {
    gap: 4rem;
  }
}

/****************************/
/* BELOW 944px (Tablets) */
/****************************/
@media (max-width: 59em) {
  #projects-section {
    max-width: 94rem;
    padding-inline: 1.6rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/****************************/
/* BELOW 760px (Smaller tablets) */
/****************************/
@media (max-width: 47.5em) {
  .project-description {
    line-height: 1.6;
  }

  #projects-section {
    padding: 4rem;
  }
}

/****************************/
/* BELOW 514px (Phones) */
/****************************/
@media (max-width: 32em) {
  .projects-container {
    grid-template-columns: 1fr;
    max-width: 60rem;
    row-gap: 3rem;
    padding: 3rem;
  }
}
