/* General Navbar */

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding-top: 10px;
  z-index: 10;
  font-family: "Source Code Pro", monospace;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 40px;
  align-items: center;
}

.nav-item span {
  color: #63fcd7;
  padding-right: 1px;
}

.nav-item a {
  text-decoration: none;
  font-size: 16px;
  color: #ccd6f6;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #63fcd7;
}

.nav-item button {
  padding-top: 5px;
  margin-left: 5px;
  color: #63fcd7;
  background-color: transparent;
  border: 1px solid #63fcd7;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 7px;
}

.nav-item button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #63fcd7;
}

.logo img {
  width: 80px;
  height: auto;
  display: block;
}

.logo {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 50px;
}

/* Mobile Navbar */
.navBarContainer {
  height: 60px;
  padding: 0 20px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
}

.menu-icon {
  cursor: pointer;
  stroke-width: 1px;
  color: #ccd6f6;
}

/* Popup Menu */
.popupContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

}

.dialogStyle {
  position: fixed;
  padding-top: 10px;
  right: 0;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.3s ease-in-out;

}

.boxStyle {
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0a192f;

}

.popupHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccd6f6;
}

.content {
  font-size: 0.7rem;
  padding-bottom: 5px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  stroke-width: 1px;
  color: #ccd6f6;
}

.verticalNav {
  overflow: hidden;
  padding-top: 10px;
}

.verticalNav a {
  display: flex;
  flex-direction: column;
  color: #ccd6f6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.verticalNav a:hover {
  background-color: rgba(168, 178, 209, 0.1); /* #a8b2d1 i lett form */
  color: #64ffda; /* Holder hover tekst i mint */
}

@keyframes myAnimNav {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 750px) {
  .nav-container {
    display: none;
  }

  .navBarContainer {
    display: flex;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
